<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if title %}
        <title>Blog-{{ title }}</title>
    {% else %}
        <title>Simple Blog</title>
    {% endif %}

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="#">Django</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'blog-home' %}"> Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li>
        </ul>
    </div>
    <div  class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post-create' %}">New Post</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert={{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% block content %}{% endblock content %}
        </div>




    <div style="    box-sizing: border-box;"  class="col-md-4 border-box">
        <div class="content-section">
            <h3>Our side bar</h3>
            <p class="text-muted"> You can put any information here you'd like.</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">Latest Posts</li>
                <li class="list-group-item list-group-item-action">Announcements</li>
                <li class="list-group-item list-group-item-action">Calendar</li>
                <li class="list-group-item list-group-item-action">ets</li>

            </ul>
        </div>
       </div>
    </div>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>