{% extends 'Blog/base.state.html' %}
{% block content %}
    <div>
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">

        <h1 class="article-title">{{ object.title }}</h1>
        <p><a href="{% url 'user-post' object.author.username %}">{{ object.author }}</a> on {{ object.date_posted | date:"F d, Y" }}</p>

        <p class="article-content">{{ object.content }}</p>
    {% if object.author == user %}
            <a class="btn-primary btn-sm mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn-danger btn-sm mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
    </div>
{% endblock content %}
